<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless.css">
    <link rel="stylesheet" href="https://use.typekit.net/wmb0ekn.css">
    <title>EXLLDM | Conoce La Verdad</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <div class="index-menu">
            <a href="">NOTICIAS</a>
            <a href="">RECURSOS</a>
            <a href="">TESTIMONIOS</a>
        </div>
    </header>
    <div class="ya-no-creo">YA NO CREO EN LA ELECCION</div>
    <img id="sinking" src="/images/building.jpg" alt="building sinking">
</div>
<div class="thoguht-of-the-day-paragraph">
    <img class="icon" src="/images/blog.png" alt="A blog icon">
    <h1>REFLEXION DEL DIA</h1>
    <h3>{{title}}</h3>
    <img class="quotation-mark-icon" src="/images/quotation-mark.png" alt="quotation mark icon">
    <p class="thoguht-of-the-day">{{thoughtOfTheDay}}</p>
    <div class="thoguht-of-the-day-paragraph read-more">Read More...</div>
</div>
<div class="news-section">

</div>
</body>
</html>