<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless.css">
    <link rel="stylesheet" href="https://use.typekit.net/wmb0ekn.css">
    <title>EXLLDM | Mi Historia</title>
</head>
{{>header}}
<h3 class="my-testimony-title">{{testimonyTtile}}</h3>
<p class="parragraph my-testimony-p">{{content}}</p>
<div class="footer-spacer"></div>
<footer class="footer-w-spacer">
    <h4>Visita Otras Plataformas</h4>
    <a href="https://www.youtube.com/user/Shiboleto">Gamaliel Calderon Mata</a>
    <a href="https://www.youtube.com/user/Mopar440HP">Luis Carlos Reyes</a>
    <h5>Diseñado Gratuitamente <br> por Xharcoal, a Software Company</h5>
</footer>
<body>
    
</body>
</html>