<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless.css">
    <link rel="stylesheet" href="https://use.typekit.net/wmb0ekn.css">
    <title>EXLLDM | Testimonios de Victimas</title>
</head>
<body>
    {{>header}}
    <div class="testimonies">
        <a class="testimony-div" href="">
            <img src="/images/building.jpg" alt="profile picture of a person">
           <h3 class="testiomony-name">Nombre Apellido</h3>
           <h4 class="testiomony-title">Titulo</h4>
        </a>
          <a class="testimony-div" href="">
            <img src="/images/building.jpg" alt="profile picture of a person">
           <h3 class="testiomony-name">Nombre Apellido</h3>
           <h4 class="testiomony-title">Titulo</h4>
        </a>
            <a class="testimony-div" href="">
            <img src="/images/building.jpg" alt="profile picture of a person">
           <h3 class="testiomony-name">Nombre Apellido</h3>
           <h4 class="testiomony-title">Titulo</h4>
        </a>
    </div>
    {{>footer}}
</body>
</html>