/**VARIABLES**/
:root
{
    --main-font: montserrat, sans-serif;
    --black-font: 900;
    --medium-font: 600; 
    --main-color: #252422;
    --second-color: rgb(224, 176, 16);
    --third-color: #480ca8;
    --slim-font: 200;
    --main-font-size: 1rem;
    --second-font-size: 1.4rem;
    --third-font-size: 1.8rem;
    /**montserrat, sans-serif;**/
}

/******RESET STYLES******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    color: var(--main-color);
    /* max-width: 1000px; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a
{
color: var(--main-color);
}

/****HOME PAGE***/
.index-menu
{
    width: 90%;
    position: relative;
    top: 2.5rem;
    height: auto;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.index-menu a
{
padding: 3%;
font-size: 4vw;
font-family: var(--main-font);
font-weight: var(--medium-font);
font-style: normal;
}
.index-menu a:hover
{
color: var(--second-color);
cursor: pointer;
}
.menu-index a:hover
{
    color: white;
}
.ya-no-creo
{
    width: 90%;
    margin: 6rem 5% 0;
    position: relative;
    text-align: center;
    font-size: 15vw;
    font-family: var(--main-font);
    font-weight: var(--black-font);
    font-style: normal;
    z-index: 2;
}
#sinking
{
    width: 100%;
    position: relative;
    margin: auto;
    display: block;
    top: 0;

}
.wrapper
{
    width: 100%;
    background: var(--second-color);
}
.icon
{
    width: 12rem;
    display: block;
    margin: 5rem auto 0;
}
.quotation-mark-icon
{
    display: inline-block;
    width: 3rem;
    padding: 0 1rem 0 0 ;
    float: left;
}
.thoguht-of-the-day-paragraph, .parragraph
{
width: 90%;
margin: 8rem auto 0;
font-family: var(--main-font);
font-weight: var(--slim-font);
font-style: normal;
text-align: justify;
line-height: 1.85rem;
font-size: var(--main-font-size)
}
.thoguht-of-the-day
{
    padding-bottom: 1rem;
    margin-top: 2rem;
    max-height: 23.5rem;
    width: 100%;
}
.thoguht-of-the-day-paragraph h1
{
    font-weight: var(--medium-font);
    font-size: var(--third-font-size);
    text-align: center;
    margin: 2rem auto 0;
}
.thoguht-of-the-day-paragraph h3
{
    text-align: center;
    font-size: 1.5rem;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    margin: 2rem 0;
}
.read-more
{
   text-decoration: underline;
   margin: 0;
   text-align: left;
   font-weight: var(--medium-font);
   width: 30%;
}
.read-more:hover
{
    color: var(--second-color);
    cursor: pointer;
}
.news-section
{
width: 100%;
background-color: var(--main-color);
margin: 6rem 0 0;
padding-bottom: 2rem;
}
.news-section h3
{
   color: white;
   text-align: center;
   font-size: 1.5rem;
   font-size: var(--second-font-size);
   font-weight: var(--medium-font);
   font-family: var(--main-font);
   margin: 2rem auto;
   width: 80%;
}
.news-section h1
{
    font-weight: var(--medium-font);
    font-size: var(--third-font-size);
    color: white;
    font-family: var(--main-font);
    text-align: center;
    padding: 4rem 0;
}
.news-section img
{
    width: 80%;
    margin: auto;
    display: block;
}

.news-article
{
    color: white;
    margin: 3rem auto 0;
    padding-bottom: 2rem;
    height: 20rem;
    overflow-y: scroll;
}
.resources-count-setion
{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.rc-div
{
    width: 80%;
    height: 20rem;
    margin: 6rem auto;
}
.rc-r img
{
    width: 12rem;
    display: block;
    margin: auto;
}
.rc-r a
{
    display: block;
    font-family: var(--main-font);
    font-weight: var(--slim-font);
    font-size: var(--main-font-size);
    padding: 1rem;
    color: var(--main-color);
    text-align: center;
    text-decoration: underline;
}
.rc-r a:hover
{
font-weight: var(--medium-font);
cursor: pointer;
}
.resources-count-setion .h3
{
    color: var(--third-color);
    text-align: center;
    font-size: 1.5rem;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    margin: 2rem auto;
    text-align: center;
}
#count-trigger
{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--medium-font);
    font-size: var(--main-font-size);
    padding: 1rem;
    border-radius: 1rem;
    background: var(--main-color);
    width: 50%;
    margin: 1rem auto;
    text-align: center;
}
#count-trigger:hover
{
    color: var(--second-color);
    transform: scale(.9);
    cursor: pointer;
}
#count-circle
{
    width: 12rem;
    height: 12rem;
    background: var(--third-color);
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#count-circle h1
{
    color: white;
    font-family: var(--main-font);
    font-weight: var(--black-font);
    font-size: 3.3rem;
}
.rc-c p
{
text-align: center;
margin: 1rem auto 0;
}
footer
{
    height: 20rem;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 70%, 100% 100%, 0% 100%);
    background: var(--main-color);
    font-family: var(--main-font);
    font-weight: var(--slim-font);
    font-size: var(--main-font-size);
    color: white;
    box-sizing: border-box;
    margin-top: 4rem;
}
.footer-w-spacer
{
    margin-top: 8rem;
    bottom: 0;
    height: 20rem;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 70%, 100% 100%, 0% 100%);
    background: var(--main-color);
    font-family: var(--main-font);
    font-weight: var(--slim-font);
    font-size: var(--main-font-size);
    color: white;
    box-sizing: border-box;
}
footer h4
{
 position: relative;
 top: 8rem;
 font-weight: var(--medium-font);
 padding-left: 1rem;
}
footer a
{
position: relative;
display: block;
 top: 9rem;
 color: white;
 padding: .5rem 0 0 1rem ;
}
footer h5
{
    font-size: .8rem;
    background: var(--third-color);
    height: 5rem;
    position: relative;
    top: 12.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: var(--medium-font);
    overflow: hidden;
    z-index: 5;
}

/****TESTIMONIOS**/
.views-title
{
    font-family: var(--main-font);
    font-size: 2.5rem;
    font-weight: var(--black-font);
    color: var(--third-color);
    width: 80%;
    margin: 4rem 10%;
    text-align: center;
    line-height: 3rem;
}
.testimonies
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1250px;
    margin: auto;
}
.testimony-div
{
    background: url(/images/woman.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 10px solid var(--second-color);
    margin: 0 2rem .5rem;
}
.testimony-div:hover, .testimony-div-male:hover 
{
    border: 10px solid var(--third-color);
}
.testimony-div-male
{
    background: url(/images/man.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 10px solid var(--second-color);
    margin: 0 2rem .5rem;
}
.testiomony-name
{
    color: var(--third-color);
    text-align: center;
    font-size: 1.5rem;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    margin: 0 auto 0;
    text-align: center;
}
.testiomony-title
{
    font-size: 1rem;
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    color: var(--main-color);
    text-align: center;
    margin: .7rem auto 3rem;
}
#my-testimony-link
{
    color: white;
    font-size: var(--second-font-size);
    background: var(--third-color);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    padding: .5rem .8rem;
    margin-top: 1rem;
    border-radius: .5rem;
    text-align: center;
}
#my-testimony-link:hover
{
    background: var(--second-color);
}
/*** My Testimonio***/
.my-testimony-title
{
    font-size: 2rem;
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    color: var(--main-color); 
    width: 90%;
    margin: auto;
}
.my-testimony-p
{
    margin: 1rem auto 0;
}
/*****FORM****/
.gender-dev
{
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gender-dev h3
{
    color: var(--third-color);
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    margin: 6rem auto 0;
    text-align: center;
}
.gender-dev img
{
width: 4rem;
padding: 1rem;
display: inline-block;
margin: .5rem 1.5rem;
}
.switch
{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.female, .male
{
    padding: .2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.genderF, .genderM
{
    opacity: 0;
}
.genderF:checked + .female
{
    border: 5px solid var(--second-color);
}
.genderM:checked + .male
{
    border: 5px solid var(--second-color);
}

/****THE FORM****/
.the-form 
{
display: block;
width: 80%;
max-width: 800px;
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
margin:auto;
}
.form-title, .content, .form-button, #form-name
{
    display: block;
    width: 80%;
    border: 1px solid var(--third-color);
    margin-bottom: 3rem;;
    padding: 1rem;
    font-size: var(--main-font-size);
    font-family: var(--main-font-size);
    color: var(--main-color);
}
.form-label
{
    margin: 1rem auto 0;
    color: var(--third-color);
    text-align: center;
    font-size: 1.5rem;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    text-align: center;
    width: 80%;
    max-width: 800px;
}
.form-button
{
    background: var(--third-color);
    border-radius: 1.5rem;
    color: white;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
}
.form-button:hover
{
    cursor: pointer;
    background: var(--second-color);
    border: transparent;
}
.parragraph-form
{
margin: 1rem 0;
}

/****MAKLE A POST****/
.form-separator
{
height: 6rem;
}
.post-type, .for-our-Lord
{
    color: var(--main-color);
    text-align: center;
    font-size: 1.8rem;
    font-size: var(--second-font-size);
    font-weight: var(--medium-font);
    font-family: var(--main-font);
    margin: 2rem auto;
    width: 80%;
}
.for-our-Lord
{
font-size: 2.3rem;
}
