<form class="the-form">
    <h1 class="for-our-Lord">Para la gloria de nuestro Señor Jesucristo, 
        dejale caer la pluma!✍️ 
    </h1>
    <h2 class="post-type">PENSAMIENTO DEL DIA</h2>
    <label class="form-label" for="form-title">Titulo</label>
    <input id="form-title" type="text" maxlength="50" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button id="form-button">Publicar</button>
</form>

<form class="the-form">
    <h2 class="post-type">SSECCION DE NOTICIAS</h2>
    <label class="form-label" for="form-title">Titulo</label>
    <input id="form-title" type="text" maxlength="50" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button id="form-button">Publicar</button>
</form>

<form class="the-form">
    <h2 class="post-type">SSECCION DE NOTICIAS</h2>
    <label class="form-label" for="form-title">Titulo</label>
    <input id="form-title" type="text" maxlength="50" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button id="form-button">Publicar</button>
</form>