<form class="the-form">
    <h1 class="for-our-Lord">Para la gloria de nuestro Señor Jesucristo!✍️ 
    </h1>
    <h2 class="post-type">PENSAMIENTO DEL DIA</h2>
    <label class="form-label" for="form-title">Titulo</label>
    <input class="form-title" id="form-title-thought" type="text" maxlength="500" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea class="content" name="content" id="content-thought" cols="30" rows="10"></textarea>
    <button onclick="postThought()" id="button-thought" class="form-button">Publicar</button>
</form>

<form class="the-form">
    <h2 class="post-type">SECCION DE NOTICIAS</h2>
    <label class="form-label" for="form-title">Titulo</label>
    <input class="form-title" id="form-title-news" type="text" maxlength="500" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea class="content" name="content" id="content-news" cols="30" rows="10"></textarea>
    <button onclick="postNews()" id="button-news" class="form-button">Publicar</button>
</form>

<form class="the-form">
    <h2 class="post-type">SECCION DE RECURSOS</h2>
    <label class="form-label" for="form-title">Nombre Del Documento</label>
    <input class="content" id="form-title-link" type="text" maxlength="1500" required>
     <label class="form-label"  for="form-link">Link Del Documento</label>
     <h5 class="parragraph-form-article">Por favor entre el link completo, sin acortar. <br>
      Ejemplo: "http://www.google.com" </h5>
    <input class="content" id="form-link" type="text" maxlength="1000" required>
    <button onclick="postResource()" class="form-button">Publicar</button>
</form>