<footer>
    <h4>Visita Otras Plataformas</h4>
    <a href="">Gamaliel Calderon Mata</a>
    <a href="">Luis Carlos Reyes</a>
    <h5>Diseñado Gratuitamente por Xharcoal, a Software Company</h5>
</footer>