<footer>
    <h4>Visita Otras Plataformas</h4>
    <a href="https://www.youtube.com/user/Shiboleto">Gamaliel Calderon Mata</a>
    <a href="https://www.youtube.com/user/Mopar440HP">Luis Carlos Reyes</a>
    <h5>Diseñado Gratuitamente <br> por Xharcoal, a Software Company</h5>
</footer>