<form class="the-form">
    <p class="parragraph parragraph-form">Por causa de razones de seguridad para los usuarios por el momento 
        no es posible publicar una foto real. Es recomendable que los nombres sean 
        ficticios si asi lo prefeieres. Queremos que tu privacidad sea segura.  
        Este sitio no recolecta ningun tipo de informacion. 
        Gracias por ayudar a otros a conocer la verdad! 
    </p>
     <label class="form-label" for="form-name">Nombre</label>
    <input class="form-title" id="form-name-testmony" type="text" maxlength="50">
    <label class="form-label" for="form-title">Titulo</label>
    <input class="form-title" id="form-title-testimony" type="text" maxlength="50" required>
     <label class="form-label"  for="form-content">Relato</label>
    <textarea class="content" name="content" id="content-testimony" cols="30" rows="10"></textarea>
    <button id="testimony-button" class="form-button">Publicar</button>
</form>