<header>
     <div class="index-menu">
            <a href="">NOTICIAS</a>
            <a href="">RECURSOS</a>
            <a href="">TESTIMONIOS</a>
    </div>
   <h1 class="views-title">{{title}}</h1> 
</header>