<header>
     <div class="index-menu">
          <a href="/#news-section">NOTICIAS</a>
            <a href="/#resources">RECURSOS</a>
            <a href="/testimonios">TESTIMONIOS</a>
            <a id="my-testimony-link" href="/share-mine">COMPARTIR MI TESTIMONIO</a>
    </div>
   <h1 class="views-title">{{title}}</h1> 
</header>